.community-members {
  padding: 40px;
  text-align: center;
  background-color: #f9f9f9;
}

.community-section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #6a0dad;
  font-weight: bold;
}
.community-subtitle {
  font-size: 1.2rem;
  color: #555;
  margin: 10px 0px;
  text-align: center;
  /* line-height: 1.5; */
  font-weight: 400;
}


.community-members-grid {
  display: flex;
  gap: 80px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.community-member-card {
  position: relative;
  width: 300px;
  height: 350px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px 0 #b869e7;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.community-member-card:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 0 #9a55e5;
}

.community-member-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;
  z-index: 1;
}

.community-member-card:hover::before {
  background: rgba(0, 0, 0, 0.6);
}

.community-member-header {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;
  font-weight: bold;
}
.community-member-overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.community-member-card:hover .community-member-overlay {
  opacity: 1;
  transform: translateX(-50%) translateY(-10px);
}

.community-member-overlay p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.community-button {
  background-color: #d1aee5;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.community-button:hover {
  background-color: #6a0dad;
}

@media(max-width:1024px){
  .community-members-grid {
    gap: 40px;
  }
  .community-member-card {
    width: 30%;
    height: 310px;
  }
  .community-member-header {
    font-size: 1.2rem;
    top: 0;
  }
}
@media(max-width:880px){
  .community-members-grid {
    gap: 30px;
  }
  .community-member-card {
    width: 30%;
    height: 270px;
  }
  .community-member-header {
    font-size: 1rem;
  }
}
@media(max-width:480px){
  .community-members-grid{
    flex-direction: column;
    justify-content: center;
  }
  .community-member-card {
    width: 85%;
    height: 300px;
}
}