.footer {
  background-color: #4b2e83;
  color: #ffffff;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 210px;
  max-width: 1200px;
  width: 100%;
}
.footer-left {
  text-align: left;
}

.footer-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #f8eaff;
}

.footer-description {
  margin-top: 10px;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #ddd;
}

.footer-middle h4 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #f8eaff;
  text-align: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.95rem;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #d1aee5;
}

.footer-right h4 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #f8eaff;
}

.social-links {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.social-link {
  font-size: 1.2rem;
  color: #ffffff;
  transition: color 0.3s;
}

.social-link:hover {
  color: #d1aee5;
}

.footer-copyright {
  font-size: 0.85rem;
  color: #ccc;
  margin-top: 10px;
}

@media (max-width: 1240px) {
  .footer-container {
    gap: 100px;
  }
}

@media (max-width: 990px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .footer-right {
    grid-column: span 2;
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer-right {
    grid-column: span 1;
  }

  .footer-logo {
    font-size: 1.5rem;
  }

  .footer-description {
    font-size: 0.85rem;
  }

  .footer-middle h4, .footer-right h4 {
    font-size: 1.1rem;
  }

  .footer-links a {
    font-size: 0.9rem;
  }

  .social-link {
    font-size: 1rem;
  }

  .footer-copyright {
    font-size: 0.8rem;
  }
}

@media (max-width: 450px) {
  .footer {
    padding: 30px 15px;
  }

  .footer-container {
    gap: 30px;
    grid-template-columns: 1fr;
  }
  .footer-left , .footer-middle, .footer-right {
    text-align: center;
  }

  .footer-logo {
    font-size: 1.3rem;
  }

  .footer-description {
    font-size: 0.8rem;
  }

  .footer-middle h4, .footer-right h4 {
    font-size: 1rem;
  }

  .footer-links a {
    font-size: 0.85rem;
  }

  .social-link {
    font-size: 0.9rem;
  }

  .footer-copyright {
    font-size: 0.75rem;
  }
}
