.homepage-container {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  /* height: 100vh; */
  /* background-color: #f8f8f8;  */
  padding: 40px;
  margin-top: 40px;
}

.main-content {
  max-width: 1200px;
  width: 100%;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.text-section {
  flex: 1;
  max-width: 600px;
  text-align: left;
}

.headline {
  font-size: 3.5rem;
  color: #6a0dad;
  margin-bottom: 10px;
}
.headline1 {
  font-size: 2.5rem;
  color: #ac5fd8;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0%;
  animation: typing 2s steps(40, end) forwards, blink 0.8s infinite;
}
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
.description {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.primary-button {
  background-color: #6a0dad; /* Purple */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease-in-out;
}

.primary-button .arrow {
  font-size: 1.2rem;
}

.primary-button:hover {
  background-color: #5a0b9e; /* Darker purple */
}

.secondary-button {
  background-color: #fff;
  color: #6a0dad; /* Purple */
  padding: 10px 20px;
  border: 2px solid #6a0dad; /* Purple border */
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.secondary-button .icon {
  font-size: 1.2rem;
}

.secondary-button:hover {
  background-color: #6a0dad; /* Purple */
  color: #fff;
}

.member-info {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.member-images {
  display: flex;
  gap: -10px; /* Slight overlap */
}

.member-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member-text {
  font-size: 0.9rem;
  color: #555;
}
.image-section img{
  width: 550px;
  box-shadow: 0 4px 6px rgba(89, 5, 89, 0.5);
}
.image-section img:hover{
  transform: scale(1.02);
  transition: transform 0.3s ease;
}